
.artist {
  span {
    font-weight: $font-weight-regular;
    font-size: 1.4rem;
    padding: .1rem .6rem;
    position: relative;
    top: -.2rem;
    border-radius: $border-radius;

    @include var('color', 'background');

    @include var('background-color', 'body');
    &[data-change^='+'] {
      @include var('background-color', 'green');
    }
    &[data-change^='-'] {
      @include var('background-color', 'red');
    }
  }
}

.display {

  aside {
    //display: relative;
    @include var('background-color', 'light');

    &, .art {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }

    .nav-height {
      margin-top: 0;
      margin-bottom: auto;
    }

    .art {
      flex: 1 0 auto;
      margin: auto;


    }

    width: 100%;
    height: 80vh;
    img {
      width: 80vw;
      height: 80vw;
    }

    @media (min-width: $media-larger-than-mobile) {
      position: fixed;
      width: 45vw;
      height: 100vh;
      img {
        width: 40vw;
        height: 40vw;
      }
    }

    @media (min-width: $media-larger-than-tablet) {
      width: 52vw;
      height: 100vh;
    }
    

  }

  main {
    @include var('background-color', 'background');
    padding: 2rem;

    @media (min-width: $media-larger-than-mobile) {
      position: absolute;
      right: 0;
      padding: 2vw;
      width: 50vw;
    }
    @media (min-width: $media-larger-than-tablet) {
      width: 43vw;
    }

    h1, h2 {
      margin-top: 2rem;
    }

  }

  input[type=checkbox]#zoom, .zoom-toggle {
    display: none;
  }


  @media (min-width: $media-larger-than-mobile) {
    input[type=checkbox]#zoom:checked ~ aside {
      z-index: 9998;
      width: 100%;
      
      .zoom-toggle {
        width: 2rem;
        height: 2rem;
        border: 2rem double;
        @include var('border-color', 'medium');
      }
    }
  
    .zoom-toggle {
      display: block;
      z-index: 9999;
      position: absolute;
      bottom: 1rem;
      left: 1rem;
      width: 4rem;
      height: 4rem;
      border: 1rem dashed;
      @include var('border-color', 'medium');
    }
  }
}

.grid {
  .art-frame {
    display: block;
    @include var('background-color', 'background');
    padding: 1rem 1rem .3rem;
    border: .1rem solid;
    @include var('border-color', 'medium');

    font-size: 1.2rem;
    text-decoration: none;
    @include var('color', 'body');

    .art {
      overflow: hidden;
      aspect-ratio: 1;
      text-align: center;
      margin-bottom: .5rem;
    }
    img {
      height: 100%;
    }


    h2 {
      font-size: 1.4rem;
      font-weight: $font-weight-regular;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }


    &:focus, &:hover {
      opacity: 100%;
    }
  }
}