

.bg-light {
  @include var('background-color', 'light');
}

.bg-shapes {
  background-image:
  url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path stroke="%23000" opacity="0.1" stroke-width="6" fill="none" d="M181.3,0c0,11.8-9.5,21.3-21.3,21.3S138.7,11.8,138.7,0 M512,234.7c-11.8,0-21.3,9.5-21.3,21.3 c0,11.8,9.5,21.3,21.3,21.3 M181.3,512c0-11.8-9.5-21.3-21.3-21.3s-21.3,9.5-21.3,21.3 M359.6,314.7c-11.8,0-21.3,9.5-21.3,21.3 s9.5,21.3,21.3,21.3s21.3-9.5,21.3-21.3S371.4,314.7,359.6,314.7z M146.7,261.3l-38.2-19.1l-19.1,38.2l38.2,19.1L146.7,261.3z  M364.3,438.5l-40.4-13.7l-13.7,40.4l40.4,13.7L364.3,438.5z M447.9,81.3l40-14.9l-14.9-40l-40,14.9L447.9,81.3z M178.4,160.5 l33.6-15.3l-30.1-21.5L178.4,160.5z M70.9,434.2l44.3-33.3l-50.9-21.8L70.9,434.2z M388.5,168.3l18.7,52.2l35.9-42.3L388.5,168.3z  M305.7,249.2l-19.2,9.3l-9.3-19.1l-19.1,9.4l-9.4-19.1l-19.1,9.4 M439.5,424.8l-3.5-21.1l21.1-3.5l-3.5-21.1l21.1-3.5l-3.5-21.1  M189.7,374l18.8,10.1l-10.1,18.8l18.8,10.1l-10.1,18.8l18.8,10.1 M66.1,39.6l6.3,20.3L52,66.2l6.4,20.4L38,92.9l6.3,20.4 M0,277.3 c11.8,0,21.3-9.5,21.3-21.3S11.8,234.7,0,234.7 M309.4,84c-11.8,0-21.3,9.5-21.3,21.3s9.5,21.3,21.3,21.3s21.3-9.5,21.3-21.3 S321.1,84,309.4,84z" /></svg>');
  background-repeat: repeat;
  background-size: 256px;
}

.bg-size-small {
  background-size: 64px;
}