–––––––––––––––––––––––––––––––––––––––––––––

// Set box-sizing globally to handle padding and border widths
*,
*:after,
*:before {
  box-sizing: inherit;
}

// The base font-size is set at 62.5% for having the convenience
// of sizing rems in a way that is similar to using px: 1.6rem = 16px
html {
  box-sizing: border-box;
  font-size: 62.5%;
}

// Reset some margins
p, h1, h2 {
  margin: 0;
  line-height: 100%;
}
h1, h2 {
  font-weight: $font-weight-header;
}

// Default body styles
body {
  @include var('background-color', 'background');
  @include var('color', 'body');
  margin: 0;
  font-family: $font-stack;
  font-size: 2em;
  font-weight: $font-weight-regular;
  line-height: 1.6;
}

hr {
  border: 0;
  border-top: .1rem solid currentColor;
  margin: 2rem 0;
}

b, strong {
  font-weight: $font-weight-bold;
}

a {
  @include var('color', 'pink');
  //font-weight: $font-weight-bold;
  text-decoration: none;
  &:focus, &:hover {
    opacity: 85%;
  }
}

section {
  display: block;
  @include var('background-color', 'background');
  padding: 1rem;
}