
.button-row {
  display: flex;
  align-items: center;
  padding: -.5rem;
  & > * {
    margin: .5rem;
  }
}

.button,
button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
  font-size: 2.2rem;
  
  @include var('background-color', 'pink');
  @include var('color', 'background');

  border: 0;
  border-radius: $border-radius;
  cursor: pointer;
  text-decoration: none;
  white-space: nowrap;
  padding: .8rem 1.6rem;
  font-family: $font-stack;
  font-weight: $font-weight-header;
  
  display: inline-flex;
  align-items: center;
  justify-content: center;

  &:focus,
  &:hover {
    opacity: 85%;
    text-decoration: none;
    outline: 0;
  }

  &[disabled] {
    cursor: default;
    opacity: .5;

    &:hover {
      box-shadow: none;
    }
  }
  
  nav > & {
    align-self: center;
  }

}