
.detail {
  border-style: solid;
  @include var('border-color', 'medium');
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  max-width: 60rem;

  padding-top: .1rem;
  border-width: .1rem 0 0 0;
  &:last-child {
    border-width: .1rem 0;
  }

  & > *:first-child {
    margin-right: auto;
  }
  
  & > label {
    padding-right: .6rem;
    opacity: 50%;
    @include var('color', 'teal');
  }

  &.no-bottom-border {
    &:last-child {
      border-width: .1rem 0 0 0;
    }
  }

  .button, button {
    font-size: 1.6rem;
    padding: .4rem 1.6rem;
  }
}