
input[type=text], input[type=number], select, textarea, article {
  outline: none;
  font-family: $font-stack;
  font-size: 1.8rem;
  padding: .4rem .8rem;
  height: 2.4rem;

  @include var('background-color', 'background');
  border: .1rem solid currentColor;

  color: currentColor;
  &:focus {
		border-color: currentColor;
  }
}

article {
  @include var('border-color', 'medium');
  padding: .2rem .8rem .6rem;
}

textarea {
  display: block;
  width: 100%;
  height: 24rem;
  box-sizing: border-box;
  @include var('background-color', 'background');
  border: .1rem solid currentColor;
}

.data-row {
  display: flex;
  flex-direction: column;

  label {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
  }
}

.data-large {
  width: 100%;
  grid-column: full;

  article {
    height: 24rem;
    overflow-y: scroll;
  }
}
