
.gallery-row {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  cursor: pointer;
  user-select: none;
  padding: .5rem 0;

  & > * {
    margin: .1rem 0;
    flex: 1;
    display: flex;
    align-items: center;
    @include var('background-color', 'background');
    border: .1rem solid;
    @include var('border-color', 'medium');
  }

  input[type="checkbox"] {
    display: none;
  }


  &.selected {
    @include var('border-color', 'teal');
  }

  .check {
    width: 5rem;
    height: 5rem;
  }
  object {
    height: 10rem;
  }

  .serials {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    & > * {
      flex: 1;
      border: .1rem solid currentColor;
      padding: .1rem .4rem;
      text-align: center;
    }
  }
}


@media (min-width: $media-larger-than-mobile) {
  .gallery-row {
    flex-direction: row;

    & > * {
      margin: 0 .2rem;
      &:first-child {
        margin-left: 0;
        flex: 0 1 15%;
      }
      &:last-child {
        flex: 0 1 5%;
      }
    }

    .serials {
      //flex-wrap: nowrap;
    }
  }
}

.tag {
  font-size: 1.5rem;
  position: relative;
  top: -.25rem;
}