
// min item width to fit 2 on mobile screens
//$min: ($media-larger-than-mobile / 2) - ($grid-gap * 3);

.grid {
  display: grid;
  grid-gap: $grid-gap;
  grid-template-columns: [full-start] repeat(auto-fit, minmax(16rem, 1fr)) [full-end];
}
.grid-larger-tiles {
  grid-template-columns: [full-start] repeat(auto-fit, minmax(32rem, 1fr)) [full-end];
}