
.links-list {
  @include var('background-color', 'background');
  padding: 1rem;
  & > * {
    padding: 1rem 2rem;
  }
}

.active {
  @include var('color', 'black');
}

.nav {
  @include var('background-color', 'background');
  border-bottom: .1rem solid;
  @include var('border-color', 'medium');
  flex-wrap: wrap;
  min-height: $nav-height;

  z-index: 9999;
  width: 100%;
  display: flex;
  justify-content: space-between;

  font-size: 1.3rem;
  & > * {
    align-self: center;
    margin: 0 .3rem;
    padding: 0 .2rem;
  }
  & > *:first-child {
    margin-right: auto;
  }

  & > a {
    min-height: $nav-height;
    @include var('color', 'pink');
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;

    //&.active {
    //  box-shadow: 0 .1rem 0 currentColor;
    //}
  }

  .logo {
    height: $nav-height * .7;
    margin-left: 0;
    cursor: pointer;
  }

  button, .button {
    font-size: 1.6rem;
    font-weight: $font-weight-header;
  }

  @media (min-width: $media-larger-than-mobile) {
    position: fixed;
    flex-wrap: nowrap;
    justify-content: flex-end;
    & > * {
      margin: 0 1rem;
    }
    font-size: 1.4rem;
    a {
      font-size: 1.7rem;
    }
  }

  @media (min-width: $media-larger-than-tablet) {
    & > * {
      margin: 0 2rem;
    }
    font-size: 1.6rem;
    a {
      font-size: 2rem;
    }
  }

  &:first-child {
    margin-right: auto;
  }

  & > * + * {
    margin-left: 1rem;
  }

}
