
.panel {
  @include var('background-color', 'background');
  margin: 2rem 0;
  padding: 1rem;

  .panel-aside {
    display: flex;
    justify-content: center;
    & > * {
      margin: 1rem;
    }
  }

  @media (min-width: $media-larger-than-mobile) {
    position: relative;
    padding-right: 14rem;

    .panel-aside {
      position: absolute;
      top: 1rem; right: 1rem; bottom: 1rem;
      width: 12rem;
      border-left: .1rem solid currentColor;
      @include var('border-color', 'medium');

      flex-direction: column;
    }
  }
}
