
.width-100 {
  min-width: 100%;
  width: 100%;
}

.text-align-right {
  text-align: right;
}

.layout {
  width: 100%;
  min-height: 100vh;
}

.content {
  max-width: $content-max-width;
  margin: 0 auto;
  padding: $grid-gap;
}

.nav-height {
  height: 0;
  width: 100%;
  @media (min-width: $media-larger-than-mobile) {
    height: $nav-height;
  }
}


// hides

.hide-small, .hide-small-medium {
  display: none;
}

@media (min-width: $media-larger-than-mobile) {
  .hide-small {
    display: block;
  }
  .hide-medium-large {
    display: none;
  }
}

@media (min-width: $media-larger-than-tablet) {
  .hide-small-medium {
    display: block;
  }

  .hide-large {
    display: none;
  }
}