

// Variables for the media breakpoints
// em because rem breakpoints don't work on Safari
$media-larger-than-mobile: 40.0em !default;
$media-larger-than-tablet: 60.0em !default;

// Layout  ––––––––––––––––––––––––––––––––––––––––––

$content-max-width: 140rem !default;
$grid-gap: 1rem !default;
$nav-height: 6rem;
$border-radius: .6rem !default;


// Fonts ––––––––––––––––––––––––––––––––––––––––––––

$font-stack: 'Nunito', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;
//$font-stack: 'Old Standard TT', serif !default;
$font-weight-header: 200 !default;
$font-weight-regular: 400 !default;
$font-weight-bold: 900 !default;

// Colors –––––––––––––––––––––––––––––––––––––––––––

$colors: (
  'background': #fff,
  'body': #231f20,
  'light': #f4f8f8,
  'medium': #c7c8c9,

  'pink': #e83894,
  'red': #DD396A,
  'purple': #6551a2,
  'blue': #3abfef,
  'teal': #00A69C,
  'green': #00a14b,
  'yellow': #ffcf01
);

// define each color as a var in root
:root {
  @each $name, $color in $colors {
    --color-#{$name}: #{$color};
  }
}

// var mixin with fallback
// use:    @include var('background-color', 'background');
@mixin var($property, $color) {
  #{$property}: map-get($colors, $color);
  #{$property}: var(--color-#{$color});
}


@import 'global/Base';

@import 'global/Art';
@import 'global/Backgrounds';
@import 'global/Button';
@import 'global/Detail';
@import 'global/Form';
@import 'global/Gallery';
@import 'global/Grid';
@import 'global/Image';
@import 'global/Message';
@import 'global/Nav';
@import 'global/Panel';
@import 'global/Utility';